<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title - ICDC Project</title>

    <!-- Bootstrap Core CSS -->
    <link href="/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="/Content/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/Content/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="/Content/vendor/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/Content/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>

    @*custom CSS ref*@
    <link href="/Content/Site.css" rel="stylesheet">

</head>
<body>
  
    @RenderBody() <hr />

    <footer class="footer">
        <p>&copy; @DateTime.Now.Year - Surestep Systems & Solutions</p>
    </footer>


    <!-- jQuery -->
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>*@
    <!-- Bootstrap Core JavaScript -->
    <script src="/Content/vendor/jquery/jquery.min.js"></script>

    <script src="/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/Content/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="/Content/vendor/raphael/raphael.min.js"></script>
    <script src="/Content/vendor/morrisjs/morris.min.js"></script>
    <script src="/Content/dist/js/morris-data.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/Content/dist/js/sb-admin-2.js"></script>

    <!-- DataTables JavaScript -->
    <script src="/Content/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/Content/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/Content/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <script src="/Scripts/vue.min.js"></script>
</body>
</html>

